# Node
node_modules/
npm-debug.log*
yarn-error.log

# Env
.env
.env.local
.env.*.local

# Logs
logs
*.log
pids
*.pid
*.seed

# Operating System
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Build output
frontend/build/
